body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  font-family: 'Inria Serif', sans-serif;
  min-height: 100vh;
}
.about-section {
  background-color: #f9f9f9;
  padding: 80px 20px;
}

.about-container {
  max-width: 1000px;
  margin: 100px;
  text-align: center;
}

.about-title {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 30px;
  color: #962525;
}

.about-text {
  font-size: 20px;
  line-height: 1.8;
  margin-bottom: 20px;
  color: #333;
}
